body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    background-color: #f5f5f5;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.logo {
    color: #333;
    text-decoration: none;
    font-size: 24px;
}

#searchForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin-top: 20px;
}

#resultsContainer {
    margin-top: 20px;
    text-align: left;
}

.result-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 10px; /* Adds space below each link */
}

.result-title {
    color: #666; /* Lighter color for titles */
    margin-bottom: 5px; /* Space between title and link */
}
